/* COMMON */

html {
    font-size: 100%;
}

img {
    width: 100%;
}

/* HEADER */

/* CLASSE DA AGGIUNGERE */

/* class="sticky-top p-fixed" */

/* section logo sony */

div.section-logo-sony {
    height: 50px;
    background-color: black;
}

img.sony-logo-img {
    width: 7rem;
    float: right;
    margin: 15px;
}

/* navigation bar */

span.clr-gray-arrow > i {
    color: gray;
    padding-left: .5rem;
}

a.cont-clr-gray-arrow {
    text-decoration: none;
    color: black;
    margin-top: .5rem;
}

button.btn.btn-login {
    background-color: black;
    color: white;
    margin-left: 1rem;
}

button.btn.btn-login:hover {
    background-color: rgba(0, 0, 0, 0.596);
}

a.search-icon {
    color: black;
    margin-top: .6rem;
    margin-left: 1rem;
}

/* in common  */

div.banner-img-text,
div.game-1-img-text {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* MAIN */

/* banner */

div.banner-img-text {
    background-image: url(../img/jumbo-bg.png);
    height: 700px;
    align-items: flex-end;
}

img.img-logo-banner {
    width: 60%;
    margin-bottom: 2rem;
}

div.text-banner,
div.text-game-1 {
    color: white;
}

h1#title-banner-game,
h1#title-game-1 {
    margin-bottom: 3rem;
}

button.btn-buy-now-banner {
    background-color: #cd3d10;
    color: white;
    padding: .5rem;
    border: none;
    border-radius: 50px;
    margin: 2rem 0 3rem;
}

button.btn-buy-now-banner:hover {
    background-color: #cd3d10cf;
}

img.choose-img {
    border-radius: 20px;
    margin-top: 4rem;
}

/* playstation 5 section */

div.ps5-text-title {
    text-align: center;
    margin-top: 5rem;
}

div.ps5-text-title > h1 {
    margin-bottom: 2rem;
}

span#clr-blue-ps5 {
    color: #4792d9;
}

span#clr-gray-ps5 {
    color: #838383;
}

button.btn.play-info,
button.btn.explorer-info {
    background-color: #2c64e6;
    color: white;
    border-radius: 50px;
}

button.btn.play-info:hover,
button.btn.explorer-info:hover {
    background-color: #2c64e6ad;
}

div.text-info-ps5 {
    margin-top: 40%;
}

div.text-info-ps5 > span {
    font-size: 1.2rem;
    display: block;
    color: #838383;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bolder;
}

img.choose-accessories {
    width: 60%;
}

div.cont-img-text-accessories {
    text-align: center;
}

div.cont-img-text-accessories > div {
    margin-top: 2rem;
}

/* game 1 bg */

section.game-1-bg {
    margin-top: 5rem;
}

div.game-1-img-text {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 600px;
    align-items: center;
}

img.img-logo-game-1 {
    width: 45%;
    margin-bottom: 2rem;
}

/* new releases */

section.new-releases {
    background-color: #1f1f1f;
    color: white;
    padding-bottom: 4rem;
}

img.img-new-releases {
    margin-top: 2rem;
    border-radius: 20px;
}

h6.name-new-game-releases {
    margin-top: 1rem;
}

div.text-new-releases {
    margin-top: 2rem;
}

div.text-new-releases > span {
    font-size: 1.5rem;
}

/* explorer ps4 */

section.explorer-ps4 {
    padding-bottom: 4rem;
}

div.text-ps4 {
    text-align: center;
    margin: 4rem 0 2rem;
}

div.text-ps4 > span,
div.cont-explorer-img > span {
    display: block;
    color: #838383;
}

button.btn.explorer-info {
    margin-top: 1.5rem;
}
